
.card{
    width: 50%;
    margin-top: 150px;
    margin-left: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .example-form {
      width: 100%;
    }
    .example-full-width{
      width: 100%;
    }
    .btn{
      margin-top: 10px;
      margin-left: 600px;
    }